.container-fluid{
    background-color: gainsboro;
}
.container div h1{
    margin-top: 30px;
}
.container{
    width: 35%;
}
.container h1{
    text-align: center;
    font-family: 'Crimson Text', serif;
}

.mycreate{
    background-color: orange;
    box-shadow: 0px 1px 6px 6px gainsboro;
    color: black;
    padding: 15px 20px;
    margin-top: 70px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
}
.mycreate h3{
    text-align: center;
}
.mybut{
    margin-top: 30px;
    text-align: center;
}
.mybut button{
    background-color: black;
    color: orange;
    border-color: black;
}
.mybut button:hover{
    background-color: white;
    color: black;
    border-color: white;
}
.mycreate div p{
    text-align: center;
    font-size: 15px;
    margin-top: 20px;
}
.mylogin{
    text-align: center;
}
.mylogin button{
    width: 80%;
    background-color: white;
    color: black;
    border: 2px solid black;
}
.mylogin button:hover{
    width: 80%;
    background-color: black;
    color: orange;
    border: 2px solid black;
}
.user{
    align-items: center;
    background-color: white;
    border: 0px;
    border-radius: 5px;
    padding: 3px;
}
.user input{
    border: 2px solid white!important;
    background-color: white!important;
    width: 100%;
    box-sizing: border-box;
    outline: none;
}
.myemail{
    align-items: center;
    background-color: white;
    border: 0px;
    border-radius: 5px;
    padding: 3px;
}
.myemail input{
    border: 2px solid white!important;
    background-color: white!important;
    width: 100%;
    box-sizing: border-box;
    outline: none;
}
.phone{
    align-items: center;
    background-color: white;
    border: 0px;
    border-radius: 5px;
    padding: 3px;
}
.phone input{
    border: 2px solid white!important;
    background-color: white!important;
    width: 100%;
    box-sizing: border-box;
    outline: none;
}
.pass{
    align-items: center;
    border: 0px;
    background-color: white;
    border-radius: 5px;
}
.pass input{
    border: 2px solid white!important;
    background-color: white!important;
    box-sizing: border-box;
    outline: none;
    
}
.pass input:hover {
    border: 2px solid white!important;
    background-color: white!important;
    box-sizing: border-box;
}
.pass button{
    margin-left: 140px;
    border: none;
    padding: 6px;
    background-color: white;
}

/* Modal */
.modalbut{
    text-align: center;
}
.modalbut button{
    background-color: orange;
    color: black;
    border-color: orange;
}
.modalbut button:hover{
    background-color: black;
    color: orange;
    border-color: black;
}
.modal-body div a{
    text-decoration: none;
    text-align: center;
}